div.wrapper,
main.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  overflow: visible;
  max-width: 100%;
  width: 100%;
  height: auto; }

div.inner-wrapper,
main.inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.small-caps {
  font-variant: small-caps; }

.white-color {
  color: #FAFAFA; }

.white-bg {
  background-color: #FAFAFA; }

.black-color {
  color: #212121; }

.black-bg {
  background-color: #212121; }

.orange-color {
  color: #F57C00; }

.orange-bg {
  background-color: #F57C00; }

/* 1) lnkBtn, normBtn */
button.normBtn,
a.lnkBtn {
  font-size: 1rem;
  font-family: "Helvetica", serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 20px 40px;
  margin: 5px;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms; }
  button.normBtn::after,
  a.lnkBtn::after {
    content: "";
    display: block;
    display: contents;
    clear: both;
    height: 0;
    line-height: 0; }
  button.normBtn,
  a.lnkBtn {
    border-width: 2px;
    border-style: solid;
    border-color: #212121; }
  button.normBtn:hover,
  a.lnkBtn:hover {
    border-color: #F57C00; }
  button.normBtn .size-1,
  a.lnkBtn .size-1 {
    min-width: 100px;
    max-width: 100px;
    width: 100%; }
  button.normBtn .size-2,
  a.lnkBtn .size-2 {
    min-width: 200px;
    max-width: 200px;
    width: 100%; }
  button.normBtn .size-3,
  a.lnkBtn .size-3 {
    min-width: 300px;
    max-width: 300px;
    width: 100%; }

button.normBtn,
a.lnkBtn {
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  display: block;
  float: left;
  color: #FAFAFA;
  background-color: #212121;
  text-align: center;
  cursor: pointer; }
  button.normBtn:hover,
  a.lnkBtn:hover {
    background-color: #F57C00; }
  button.normBtn.animation-1,
  a.lnkBtn.animation-1 {
    /* lnkBtn, normBtn animation 1 */ }
    button.normBtn.animation-1::after,
    a.lnkBtn.animation-1::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      right: -101%;
      background-color: rgba(250, 250, 250, 0.2);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: right 250ms;
      -o-transition: right 250ms;
      transition: right 250ms; }
    button.normBtn.animation-1:hover::after,
    a.lnkBtn.animation-1:hover::after {
      content: '';
      right: -40%; }
  button.normBtn.animation-2,
  a.lnkBtn.animation-2 {
    /* lnkBtn, normBtn animation 2 */ }
    button.normBtn.animation-2::after,
    a.lnkBtn.animation-2::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background-color: rgba(250, 250, 250, 0.2);
      -webkit-transition: top 250ms;
      -o-transition: top 250ms;
      transition: top 250ms; }
    button.normBtn.animation-2:hover::after,
    a.lnkBtn.animation-2:hover::after {
      content: '';
      top: -50%; }
  button.normBtn.animation-3,
  a.lnkBtn.animation-3 {
    /* lnkBtn, normBtn animation 3 */ }
    button.normBtn.animation-3::after,
    a.lnkBtn.animation-3::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -100%;
      left: 0;
      background-color: rgba(250, 250, 250, 0.2);
      -webkit-transition: bottom 250ms;
      -o-transition: bottom 250ms;
      transition: bottom 250ms; }
    button.normBtn.animation-3:hover::after,
    a.lnkBtn.animation-3:hover::after {
      content: '';
      bottom: -50%; }
  button.normBtn.animation-4,
  a.lnkBtn.animation-4 {
    /* lnkBtn, normBtn animation 4 */
    z-index: 1; }
    button.normBtn.animation-4:hover,
    a.lnkBtn.animation-4:hover {
      background-color: #212121;
      -webkit-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms; }
    button.normBtn.animation-4::after,
    a.lnkBtn.animation-4::after {
      content: '';
      position: absolute;
      width: 1%;
      height: 1%;
      top: 50%;
      left: 50%;
      background-color: transparent;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: width 250ms, height 250ms, background-color 250ms;
      -o-transition: width 250ms, height 250ms, background-color 250ms;
      transition: width 250ms, height 250ms, background-color 250ms;
      z-index: -1; }
    button.normBtn.animation-4:hover::after,
    a.lnkBtn.animation-4:hover::after {
      content: '';
      width: 100%;
      height: 101%;
      background-color: #F57C00; }
  button.normBtn.animation-5,
  a.lnkBtn.animation-5 {
    /* lnkBtn, normBtn animation 5 */
    z-index: 1; }
    button.normBtn.animation-5:hover,
    a.lnkBtn.animation-5:hover {
      background-color: #212121;
      -webkit-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms; }
    button.normBtn.animation-5::before, button.normBtn.animation-5::after,
    a.lnkBtn.animation-5::before,
    a.lnkBtn.animation-5::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      background-color: #F57C00;
      -webkit-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
      z-index: -1; }
    button.normBtn.animation-5::before,
    a.lnkBtn.animation-5::before {
      left: -100%; }
    button.normBtn.animation-5::after,
    a.lnkBtn.animation-5::after {
      right: -100%; }
    button.normBtn.animation-5:hover::before, button.normBtn.animation-5:hover::after,
    a.lnkBtn.animation-5:hover::before,
    a.lnkBtn.animation-5:hover::after {
      -webkit-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms; }
    button.normBtn.animation-5:hover::before,
    a.lnkBtn.animation-5:hover::before {
      left: 0; }
    button.normBtn.animation-5:hover::after,
    a.lnkBtn.animation-5:hover::after {
      right: 0; }
  button.normBtn.animation-6,
  a.lnkBtn.animation-6 {
    /* lnkBtn, normBtn animation 6 */
    z-index: 1; }
    button.normBtn.animation-6:hover,
    a.lnkBtn.animation-6:hover {
      background-color: #212121;
      -webkit-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms; }
    button.normBtn.animation-6::after,
    a.lnkBtn.animation-6::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      background-color: #F57C00;
      -webkit-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms;
      z-index: -1; }
    button.normBtn.animation-6:hover::after,
    a.lnkBtn.animation-6:hover::after {
      content: '';
      left: 0; }
  button.normBtn.animation-7,
  a.lnkBtn.animation-7 {
    /* lnkBtn, normBtn animation 7 */
    z-index: 1; }
    button.normBtn.animation-7:hover,
    a.lnkBtn.animation-7:hover {
      background-color: #212121;
      -webkit-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms; }
    button.normBtn.animation-7::before, button.normBtn.animation-7::after,
    a.lnkBtn.animation-7::before,
    a.lnkBtn.animation-7::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      background-color: #F57C00;
      -webkit-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms;
      -webkit-transition-delay: 250ms;
      -o-transition-delay: 250ms;
      transition-delay: 250ms;
      z-index: -2; }
    button.normBtn.animation-7::before,
    a.lnkBtn.animation-7::before {
      background-color: #ffae5c;
      -webkit-transition-delay: 0ms;
      -o-transition-delay: 0ms;
      transition-delay: 0ms;
      z-index: -1; }
    button.normBtn.animation-7:hover::before, button.normBtn.animation-7:hover::after,
    a.lnkBtn.animation-7:hover::before,
    a.lnkBtn.animation-7:hover::after {
      content: '';
      left: 0; }
    button.normBtn.animation-7:hover::before,
    a.lnkBtn.animation-7:hover::before {
      -webkit-transition-delay: 250ms;
      -o-transition-delay: 250ms;
      transition-delay: 250ms; }
    button.normBtn.animation-7:hover::after,
    a.lnkBtn.animation-7:hover::after {
      -webkit-transition-delay: 0ms;
      -o-transition-delay: 0ms;
      transition-delay: 0ms; }
  button.normBtn.animation-8,
  a.lnkBtn.animation-8 {
    /* lnkBtn, normBtn animation 8 */
    z-index: 1; }
    button.normBtn.animation-8:hover,
    a.lnkBtn.animation-8:hover {
      background-color: #212121;
      -webkit-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms; }
    button.normBtn.animation-8::before, button.normBtn.animation-8::after,
    a.lnkBtn.animation-8::before,
    a.lnkBtn.animation-8::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -100%;
      left: 0;
      background-color: #F57C00;
      -webkit-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms;
      -webkit-transition-delay: 250ms;
      -o-transition-delay: 250ms;
      transition-delay: 250ms;
      z-index: -2; }
    button.normBtn.animation-8::before,
    a.lnkBtn.animation-8::before {
      background-color: #ffae5c;
      -webkit-transition-delay: 0ms;
      -o-transition-delay: 0ms;
      transition-delay: 0ms;
      z-index: -1; }
    button.normBtn.animation-8:hover::before, button.normBtn.animation-8:hover::after,
    a.lnkBtn.animation-8:hover::before,
    a.lnkBtn.animation-8:hover::after {
      content: '';
      bottom: 0; }
    button.normBtn.animation-8:hover::before,
    a.lnkBtn.animation-8:hover::before {
      -webkit-transition-delay: 250ms;
      -o-transition-delay: 250ms;
      transition-delay: 250ms; }
    button.normBtn.animation-8:hover::after,
    a.lnkBtn.animation-8:hover::after {
      -webkit-transition-delay: 0ms;
      -o-transition-delay: 0ms;
      transition-delay: 0ms; }

ul.menu-container {
  display: contents;
  list-style-type: none; }
  ul.menu-container > li, ul.menu-container > li a {
    position: relative;
    display: block;
    float: left; }
  ul.menu-container > li a {
    font-size: 1rem;
    font-family: "Helvetica", serif;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 20px 40px;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    color: #212121; }
    ul.menu-container > li a::after {
      content: "";
      display: block;
      display: contents;
      clear: both;
      height: 0;
      line-height: 0; }
    ul.menu-container > li a:hover {
      color: #F57C00; }
    ul.menu-container > li a.animation-1 {
      /* menu animation 1 */ }
      ul.menu-container > li a.animation-1::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 1%;
        height: 2px;
        background-color: transparent;
        -webkit-transition: background-color 250ms 250ms, width 250ms 0ms;
        -o-transition: background-color 250ms 250ms, width 250ms 0ms;
        transition: background-color 250ms 250ms, width 250ms 0ms; }
      ul.menu-container > li a.animation-1:hover::before {
        width: 100%;
        background-color: #F57C00;
        -webkit-transition: background-color 250ms 0ms, width 250ms 250ms;
        -o-transition: background-color 250ms 0ms, width 250ms 250ms;
        transition: background-color 250ms 0ms, width 250ms 250ms; }
    ul.menu-container > li a.animation-2 {
      /* menu animation 2 */ }
      ul.menu-container > li a.animation-2::before, ul.menu-container > li a.animation-2::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 1%;
        height: 2px;
        background-color: transparent;
        -webkit-transition: background-color 250ms 250ms, width 250ms 0ms;
        -o-transition: background-color 250ms 250ms, width 250ms 0ms;
        transition: background-color 250ms 250ms, width 250ms 0ms; }
      ul.menu-container > li a.animation-2::after {
        left: initial;
        right: 0;
        bottom: initial;
        top: 0; }
      ul.menu-container > li a.animation-2:hover::before, ul.menu-container > li a.animation-2:hover::after {
        width: 100%;
        background-color: #F57C00;
        -webkit-transition: background-color 250ms 0ms, width 250ms 250ms;
        -o-transition: background-color 250ms 0ms, width 250ms 250ms;
        transition: background-color 250ms 0ms, width 250ms 250ms; }
    ul.menu-container > li a.animation-3::before, ul.menu-container > li a.animation-3::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: transparent; }
    ul.menu-container > li a.animation-3::before {
      content: '';
      border-bottom: 2px solid transparent;
      border-right: 2px solid transparent;
      bottom: 0;
      left: 0;
      -webkit-transition: height 250ms, width 250ms 350ms, border-right-color 250ms 500ms, border-bottom-color 250ms 750ms;
      -o-transition: height 250ms, width 250ms 350ms, border-right-color 250ms 500ms, border-bottom-color 250ms 750ms;
      transition: height 250ms, width 250ms 350ms, border-right-color 250ms 500ms, border-bottom-color 250ms 750ms;
      transition-direction: reverse;
      z-index: 0; }
    ul.menu-container > li a.animation-3::after {
      content: '';
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      top: 0;
      right: 0;
      -webkit-transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
      -o-transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
      transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
      transition-direction: reverse;
      z-index: 2; }
    ul.menu-container > li a.animation-3:hover::before {
      content: '';
      width: 100%;
      height: 100%;
      -webkit-transition: width 250ms 250ms, height 250ms 501ms, border-bottom-color 250ms, border-right-color 250ms;
      -o-transition: width 250ms 250ms, height 250ms 501ms, border-bottom-color 250ms, border-right-color 250ms;
      transition: width 250ms 250ms, height 250ms 501ms, border-bottom-color 250ms, border-right-color 250ms;
      transition-direction: normal;
      border-bottom-color: #F57C00;
      border-right-color: #F57C00; }
    ul.menu-container > li a.animation-3:hover::after {
      content: '';
      width: 100%;
      height: 100%;
      -webkit-transition: width 250ms 250ms, height 250ms 501ms, border-left-color 250ms, border-top-color 250ms;
      -o-transition: width 250ms 250ms, height 250ms 501ms, border-left-color 250ms, border-top-color 250ms;
      transition: width 250ms 250ms, height 250ms 501ms, border-left-color 250ms, border-top-color 250ms;
      transition-direction: normal;
      border-top-color: #F57C00;
      border-left-color: #F57C00; }
    ul.menu-container > li a.animation-4::before, ul.menu-container > li a.animation-4::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: transparent; }
    ul.menu-container > li a.animation-4::before {
      content: '';
      border-bottom: 2px solid transparent;
      border-right: 2px solid transparent;
      bottom: 0;
      left: 0;
      -webkit-transition: height 250ms 750ms, width 250ms 1000ms, border-right-color 250ms 1250ms, border-bottom-color 250ms 1500ms;
      -o-transition: height 250ms 750ms, width 250ms 1000ms, border-right-color 250ms 1250ms, border-bottom-color 250ms 1500ms;
      transition: height 250ms 750ms, width 250ms 1000ms, border-right-color 250ms 1250ms, border-bottom-color 250ms 1500ms;
      transition-direction: reverse;
      z-index: 0; }
    ul.menu-container > li a.animation-4::after {
      content: '';
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      top: 0;
      right: 0;
      -webkit-transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
      -o-transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
      transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
      transition-direction: reverse;
      z-index: 2; }
    ul.menu-container > li a.animation-4:hover::before {
      content: '';
      width: 100%;
      height: 100%;
      -webkit-transition: width 250ms 250ms, height 250ms 501ms, border-bottom-color 250ms, border-right-color 250ms;
      -o-transition: width 250ms 250ms, height 250ms 501ms, border-bottom-color 250ms, border-right-color 250ms;
      transition: width 250ms 250ms, height 250ms 501ms, border-bottom-color 250ms, border-right-color 250ms;
      transition-direction: normal;
      border-bottom-color: #F57C00;
      border-right-color: #F57C00; }
    ul.menu-container > li a.animation-4:hover::after {
      content: '';
      width: 100%;
      height: 100%;
      -webkit-transition: width 250ms 750ms, height 250ms 1001ms, border-left-color 250ms 750ms, border-top-color 250ms 750ms;
      -o-transition: width 250ms 750ms, height 250ms 1001ms, border-left-color 250ms 750ms, border-top-color 250ms 750ms;
      transition: width 250ms 750ms, height 250ms 1001ms, border-left-color 250ms 750ms, border-top-color 250ms 750ms;
      transition-direction: normal;
      border-top-color: #F57C00;
      border-left-color: #F57C00; }
    ul.menu-container > li a.animation-5 {
      z-index: 0; }
      ul.menu-container > li a.animation-5:hover {
        color: #FAFAFA; }
      ul.menu-container > li a.animation-5::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: transparent;
        -webkit-transition: background-color 250ms 250ms, width 250ms 0ms;
        -o-transition: background-color 250ms 250ms, width 250ms 0ms;
        transition: background-color 250ms 250ms, width 250ms 0ms;
        z-index: -1; }
      ul.menu-container > li a.animation-5:hover::before {
        content: '';
        position: absolute;
        width: 100%;
        background-color: #F57C00;
        -webkit-transition: background-color 250ms 0ms, width 250ms 250ms;
        -o-transition: background-color 250ms 0ms, width 250ms 250ms;
        transition: background-color 250ms 0ms, width 250ms 250ms; }
