.def-btn {
  padding: 20px 40px;
  margin: 10px;
  display: inline-block;
  background: #f3f3f3; }
  .def-btn::after {
    content: "";
    display: contents;
    clear: both;
    height: 0;
    line-height: 0; }
