div.wrapper,
main.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  overflow: visible;
  max-width: 100%;
  width: 100%;
  height: auto;
}

div.inner-wrapper,
main.inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  max-width: 1280px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.small-caps {
  font-variant: small-caps;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}

.white-color {
  color: #FAFAFA;
}

.white-bg {
  background-color: #FAFAFA;
}

.black-color {
  color: #212121;
}

.black-bg {
  background-color: #212121;
}

.orange-color {
  color: #F57C00;
}

.orange-bg {
  background-color: #F57C00;
}

blockquote.danger, blockquote.red, li.danger, li.red, p.danger, p.red, pre.danger, pre.red, a.danger, a.red, abbr.danger, abbr.red, b.danger, b.red, cite.danger, cite.red, code.danger, code.red, em.danger, em.red, i.danger, i.red, q.danger, q.red, s.danger, s.red, small.danger, small.red, span.danger, span.red, strong.danger, strong.red, sub.danger, sub.red, sup.danger, sup.red, var.danger, var.red, u.danger, u.red {
  color: #EC644B;
}

blockquote.warning, blockquote.yellow, li.warning, li.yellow, p.warning, p.yellow, pre.warning, pre.yellow, a.warning, a.yellow, abbr.warning, abbr.yellow, b.warning, b.yellow, cite.warning, cite.yellow, code.warning, code.yellow, em.warning, em.yellow, i.warning, i.yellow, q.warning, q.yellow, s.warning, s.yellow, small.warning, small.yellow, span.warning, span.yellow, strong.warning, strong.yellow, sub.warning, sub.yellow, sup.warning, sup.yellow, var.warning, var.yellow, u.warning, u.yellow {
  color: #F5D76E;
}

blockquote.success, blockquote.green, li.success, li.green, p.success, p.green, pre.success, pre.green, a.success, a.green, abbr.success, abbr.green, b.success, b.green, cite.success, cite.green, code.success, code.green, em.success, em.green, i.success, i.green, q.success, q.green, s.success, s.green, small.success, small.green, span.success, span.green, strong.success, strong.green, sub.success, sub.green, sup.success, sup.green, var.success, var.green, u.success, u.green {
  color: #87D37C;
}

/* 1) lnkBtn, normBtn */
button.normBtn,
a.lnkBtn {
  font-size: 1rem;
  font-family: "Helvetica", serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 20px 40px;
  margin: 5px;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

button.normBtn::after,
a.lnkBtn::after {
  content: "";
  display: block;
  display: contents;
  clear: both;
  height: 0;
  line-height: 0;
}

button.normBtn,
a.lnkBtn {
  border-width: 2px;
  border-style: solid;
  border-color: #212121;
}

button.normBtn:hover,
a.lnkBtn:hover {
  border-color: #F57C00;
}

button.normBtn .size-1,
a.lnkBtn .size-1 {
  min-width: 100px;
  max-width: 100px;
  width: 100%;
}

button.normBtn .size-2,
a.lnkBtn .size-2 {
  min-width: 200px;
  max-width: 200px;
  width: 100%;
}

button.normBtn .size-3,
a.lnkBtn .size-3 {
  min-width: 300px;
  max-width: 300px;
  width: 100%;
}

button.normBtn,
a.lnkBtn {
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  display: block;
  float: left;
  color: #FAFAFA;
  background-color: #212121;
  text-align: center;
  cursor: pointer;
}

button.normBtn:hover,
a.lnkBtn:hover {
  background-color: #F57C00;
}

button.normBtn.animation-1,
a.lnkBtn.animation-1 {
  /* lnkBtn, normBtn animation 1 */
}

button.normBtn.animation-1::after,
a.lnkBtn.animation-1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: -101%;
  background-color: rgba(250, 250, 250, 0.2);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: right 250ms;
  -o-transition: right 250ms;
  transition: right 250ms;
}

button.normBtn.animation-1:hover::after,
a.lnkBtn.animation-1:hover::after {
  content: '';
  right: -40%;
}

button.normBtn.animation-2,
a.lnkBtn.animation-2 {
  /* lnkBtn, normBtn animation 2 */
}

button.normBtn.animation-2::after,
a.lnkBtn.animation-2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: rgba(250, 250, 250, 0.2);
  -webkit-transition: top 250ms;
  -o-transition: top 250ms;
  transition: top 250ms;
}

button.normBtn.animation-2:hover::after,
a.lnkBtn.animation-2:hover::after {
  content: '';
  top: -50%;
}

button.normBtn.animation-3,
a.lnkBtn.animation-3 {
  /* lnkBtn, normBtn animation 3 */
}

button.normBtn.animation-3::after,
a.lnkBtn.animation-3::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background-color: rgba(250, 250, 250, 0.2);
  -webkit-transition: bottom 250ms;
  -o-transition: bottom 250ms;
  transition: bottom 250ms;
}

button.normBtn.animation-3:hover::after,
a.lnkBtn.animation-3:hover::after {
  content: '';
  bottom: -50%;
}

button.normBtn.animation-4,
a.lnkBtn.animation-4 {
  /* lnkBtn, normBtn animation 4 */
  z-index: 1;
}

button.normBtn.animation-4:hover,
a.lnkBtn.animation-4:hover {
  background-color: #212121;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

button.normBtn.animation-4::after,
a.lnkBtn.animation-4::after {
  content: '';
  position: absolute;
  width: 1%;
  height: 1%;
  top: 50%;
  left: 50%;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width 250ms, height 250ms, background-color 250ms;
  -o-transition: width 250ms, height 250ms, background-color 250ms;
  transition: width 250ms, height 250ms, background-color 250ms;
  z-index: -1;
}

button.normBtn.animation-4:hover::after,
a.lnkBtn.animation-4:hover::after {
  content: '';
  width: 100%;
  height: 101%;
  background-color: #F57C00;
}

button.normBtn.animation-5,
a.lnkBtn.animation-5 {
  /* lnkBtn, normBtn animation 5 */
  z-index: 1;
}

button.normBtn.animation-5:hover,
a.lnkBtn.animation-5:hover {
  background-color: #F57C00;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

button.normBtn.animation-5::before, button.normBtn.animation-5::after,
a.lnkBtn.animation-5::before,
a.lnkBtn.animation-5::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  background-color: #F57C00;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  z-index: -1;
}

button.normBtn.animation-5::before,
a.lnkBtn.animation-5::before {
  left: -100%;
}

button.normBtn.animation-5::after,
a.lnkBtn.animation-5::after {
  right: -100%;
}

button.normBtn.animation-5:hover::before, button.normBtn.animation-5:hover::after,
a.lnkBtn.animation-5:hover::before,
a.lnkBtn.animation-5:hover::after {
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

button.normBtn.animation-5:hover::before,
a.lnkBtn.animation-5:hover::before {
  left: 0;
}

button.normBtn.animation-5:hover::after,
a.lnkBtn.animation-5:hover::after {
  right: 0;
}

button.normBtn.animation-6,
a.lnkBtn.animation-6 {
  /* lnkBtn, normBtn animation 6 */
  z-index: 1;
}

button.normBtn.animation-6:hover,
a.lnkBtn.animation-6:hover {
  background-color: #212121;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

button.normBtn.animation-6::after,
a.lnkBtn.animation-6::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #F57C00;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  z-index: -1;
}

button.normBtn.animation-6:hover::after,
a.lnkBtn.animation-6:hover::after {
  content: '';
  left: 0;
}

button.normBtn.animation-7,
a.lnkBtn.animation-7 {
  /* lnkBtn, normBtn animation 7 */
  z-index: 1;
}

button.normBtn.animation-7:hover,
a.lnkBtn.animation-7:hover {
  background-color: #212121;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

button.normBtn.animation-7::before, button.normBtn.animation-7::after,
a.lnkBtn.animation-7::before,
a.lnkBtn.animation-7::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #F57C00;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  -webkit-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  transition-delay: 250ms;
  z-index: -2;
}

button.normBtn.animation-7::before,
a.lnkBtn.animation-7::before {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  z-index: -1;
}

button.normBtn.animation-7:hover::before, button.normBtn.animation-7:hover::after,
a.lnkBtn.animation-7:hover::before,
a.lnkBtn.animation-7:hover::after {
  content: '';
  left: 0;
}

button.normBtn.animation-7:hover::before,
a.lnkBtn.animation-7:hover::before {
  -webkit-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  transition-delay: 250ms;
}

button.normBtn.animation-7:hover::after,
a.lnkBtn.animation-7:hover::after {
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}

button.normBtn.animation-8,
a.lnkBtn.animation-8 {
  /* lnkBtn, normBtn animation 8 */
  z-index: 1;
}

button.normBtn.animation-8:hover,
a.lnkBtn.animation-8:hover {
  background-color: #212121;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

button.normBtn.animation-8::before, button.normBtn.animation-8::after,
a.lnkBtn.animation-8::before,
a.lnkBtn.animation-8::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background-color: #F57C00;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  -webkit-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  transition-delay: 250ms;
  z-index: -2;
}

button.normBtn.animation-8::before,
a.lnkBtn.animation-8::before {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  z-index: -1;
}

button.normBtn.animation-8:hover::before, button.normBtn.animation-8:hover::after,
a.lnkBtn.animation-8:hover::before,
a.lnkBtn.animation-8:hover::after {
  content: '';
  bottom: 0;
}

button.normBtn.animation-8:hover::before,
a.lnkBtn.animation-8:hover::before {
  -webkit-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  transition-delay: 250ms;
}

button.normBtn.animation-8:hover::after,
a.lnkBtn.animation-8:hover::after {
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}

button.normBtn.animation-9,
a.lnkBtn.animation-9 {
  /* lnkBtn, normBtn animation 9 */
}

button.normBtn.animation-9,
a.lnkBtn.animation-9 {
  border-width: 1px;
  border-color: #212121;
  color: #212121;
  background-color: transparent;
  z-index: 1;
}

button.normBtn.animation-9:hover,
a.lnkBtn.animation-9:hover {
  color: #FAFAFA;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

button.normBtn.animation-9::before,
a.lnkBtn.animation-9::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #212121;
  -webkit-transform: translate3d(0, 105%, 0);
  transform: translate3d(0, 105%, 0);
  -webkit-transition: all 350ms, color 175ms;
  -o-transition: all 350ms, color 175ms;
  transition: all 350ms, color 175ms;
  z-index: -2;
}

button.normBtn.animation-9::before,
a.lnkBtn.animation-9::before {
  background-color: #212121;
  z-index: -1;
}

button.normBtn.animation-9:hover::before,
a.lnkBtn.animation-9:hover::before {
  content: '';
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

button.normBtn.animation-9, button.normBtn.animation-9:hover, button.normBtn.animation-9::before,
a.lnkBtn.animation-9,
a.lnkBtn.animation-9:hover,
a.lnkBtn.animation-9::before {
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
}

button.normBtn.animation-10,
a.lnkBtn.animation-10 {
  color: #333;
  background-color: transparent;
  border: none;
}

button.normBtn.animation-10:hover, button.normBtn.animation-10::before, button.normBtn.animation-10::after, button.normBtn.animation-10:hover::before, button.normBtn.animation-10:hover::after,
a.lnkBtn.animation-10:hover,
a.lnkBtn.animation-10::before,
a.lnkBtn.animation-10::after,
a.lnkBtn.animation-10:hover::before,
a.lnkBtn.animation-10:hover::after {
  -webkit-transition: width 350ms, background-color 350ms, color 350ms;
  -o-transition: width 350ms, background-color 350ms, color 350ms;
  transition: width 350ms, background-color 350ms, color 350ms;
}

button.normBtn.animation-10::before, button.normBtn.animation-10::after,
a.lnkBtn.animation-10::before,
a.lnkBtn.animation-10::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #F57C00;
}

button.normBtn.animation-10::before,
a.lnkBtn.animation-10::before {
  left: 0;
}

button.normBtn.animation-10::after,
a.lnkBtn.animation-10::after {
  right: 0;
}

button.normBtn.animation-10:hover::before, button.normBtn.animation-10:hover::after,
a.lnkBtn.animation-10:hover::before,
a.lnkBtn.animation-10:hover::after {
  content: '';
  width: 100%;
}

ul.menu-container {
  list-style-type: none;
  padding: 0;
}

ul.menu-container > li, ul.menu-container > li a {
  position: relative;
  display: block;
  float: left;
}

ul.menu-container > li a {
  font-size: 1rem;
  font-family: "Helvetica", serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 20px 40px;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  color: #212121;
}

ul.menu-container > li a::after {
  content: "";
  display: block;
  display: contents;
  clear: both;
  height: 0;
  line-height: 0;
}

ul.menu-container > li a:hover {
  color: #F57C00;
}

ul.menu-container > li a.animation-1 {
  /* menu animation 1 */
}

ul.menu-container > li a.animation-1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1%;
  height: 2px;
  background-color: transparent;
  -webkit-transition: background-color 250ms 250ms, width 250ms 0ms;
  -o-transition: background-color 250ms 250ms, width 250ms 0ms;
  transition: background-color 250ms 250ms, width 250ms 0ms;
}

ul.menu-container > li a.animation-1:hover::before {
  width: 100%;
  background-color: #F57C00;
  -webkit-transition: background-color 250ms 0ms, width 250ms 250ms;
  -o-transition: background-color 250ms 0ms, width 250ms 250ms;
  transition: background-color 250ms 0ms, width 250ms 250ms;
}

ul.menu-container > li a.animation-2 {
  /* menu animation 2 */
}

ul.menu-container > li a.animation-2::before, ul.menu-container > li a.animation-2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1%;
  height: 2px;
  background-color: transparent;
  -webkit-transition: background-color 250ms 250ms, width 250ms 0ms;
  -o-transition: background-color 250ms 250ms, width 250ms 0ms;
  transition: background-color 250ms 250ms, width 250ms 0ms;
}

ul.menu-container > li a.animation-2::after {
  left: initial;
  right: 0;
  bottom: initial;
  top: 0;
}

ul.menu-container > li a.animation-2:hover::before, ul.menu-container > li a.animation-2:hover::after {
  width: 100%;
  background-color: #F57C00;
  -webkit-transition: background-color 250ms 0ms, width 250ms 250ms;
  -o-transition: background-color 250ms 0ms, width 250ms 250ms;
  transition: background-color 250ms 0ms, width 250ms 250ms;
}

ul.menu-container > li a.animation-3 {
  /* menu animation 3 */
}

ul.menu-container > li a.animation-3::before, ul.menu-container > li a.animation-3::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: transparent;
}

ul.menu-container > li a.animation-3::before {
  content: '';
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  bottom: 0;
  left: 0;
  -webkit-transition: height 250ms, width 250ms 350ms, border-right-color 250ms 500ms, border-bottom-color 250ms 750ms;
  -o-transition: height 250ms, width 250ms 350ms, border-right-color 250ms 500ms, border-bottom-color 250ms 750ms;
  transition: height 250ms, width 250ms 350ms, border-right-color 250ms 500ms, border-bottom-color 250ms 750ms;
  transition-direction: reverse;
  z-index: 0;
}

ul.menu-container > li a.animation-3::after {
  content: '';
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  top: 0;
  right: 0;
  -webkit-transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
  -o-transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
  transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
  transition-direction: reverse;
  z-index: 2;
}

ul.menu-container > li a.animation-3:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transition: width 250ms 250ms, height 250ms 501ms, border-bottom-color 250ms, border-right-color 250ms;
  -o-transition: width 250ms 250ms, height 250ms 501ms, border-bottom-color 250ms, border-right-color 250ms;
  transition: width 250ms 250ms, height 250ms 501ms, border-bottom-color 250ms, border-right-color 250ms;
  transition-direction: normal;
  border-bottom-color: #F57C00;
  border-right-color: #F57C00;
}

ul.menu-container > li a.animation-3:hover::after {
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transition: width 250ms 250ms, height 250ms 501ms, border-left-color 250ms, border-top-color 250ms;
  -o-transition: width 250ms 250ms, height 250ms 501ms, border-left-color 250ms, border-top-color 250ms;
  transition: width 250ms 250ms, height 250ms 501ms, border-left-color 250ms, border-top-color 250ms;
  transition-direction: normal;
  border-top-color: #F57C00;
  border-left-color: #F57C00;
}

ul.menu-container > li a.animation-4 {
  /* menu animation 4 */
}

ul.menu-container > li a.animation-4::before, ul.menu-container > li a.animation-4::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: transparent;
}

ul.menu-container > li a.animation-4::before {
  content: '';
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  bottom: 0;
  left: 0;
  -webkit-transition: height 250ms 750ms, width 250ms 1000ms, border-right-color 250ms 1250ms, border-bottom-color 250ms 1500ms;
  -o-transition: height 250ms 750ms, width 250ms 1000ms, border-right-color 250ms 1250ms, border-bottom-color 250ms 1500ms;
  transition: height 250ms 750ms, width 250ms 1000ms, border-right-color 250ms 1250ms, border-bottom-color 250ms 1500ms;
  transition-direction: reverse;
  z-index: 0;
}

ul.menu-container > li a.animation-4::after {
  content: '';
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  top: 0;
  right: 0;
  -webkit-transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
  -o-transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
  transition: height 250ms, width 250ms 350ms, border-top-color 250ms 500ms, border-left-color 250ms 750ms;
  transition-direction: reverse;
  z-index: 2;
}

ul.menu-container > li a.animation-4:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transition: width 250ms 250ms, height 250ms 500ms, border-bottom-color 250ms, border-right-color 250ms;
  -o-transition: width 250ms 250ms, height 250ms 500ms, border-bottom-color 250ms, border-right-color 250ms;
  transition: width 250ms 250ms, height 250ms 500ms, border-bottom-color 250ms, border-right-color 250ms;
  transition-direction: normal;
  border-bottom-color: #F57C00;
  border-right-color: #F57C00;
}

ul.menu-container > li a.animation-4:hover::after {
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transition: width 250ms 750ms, height 250ms 1000ms, border-left-color 250ms 750ms, border-top-color 250ms 750ms;
  -o-transition: width 250ms 750ms, height 250ms 1000ms, border-left-color 250ms 750ms, border-top-color 250ms 750ms;
  transition: width 250ms 750ms, height 250ms 1000ms, border-left-color 250ms 750ms, border-top-color 250ms 750ms;
  transition-direction: normal;
  border-top-color: #F57C00;
  border-left-color: #F57C00;
}

ul.menu-container > li a.animation-5 {
  /* menu animation 5 */
  z-index: 0;
}

ul.menu-container > li a.animation-5:hover {
  color: #FAFAFA;
}

ul.menu-container > li a.animation-5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: transparent;
  -webkit-transition: background-color 250ms 250ms, width 250ms 0ms;
  -o-transition: background-color 250ms 250ms, width 250ms 0ms;
  transition: background-color 250ms 250ms, width 250ms 0ms;
  z-index: -1;
}

ul.menu-container > li a.animation-5:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  background-color: #F57C00;
  -webkit-transition: background-color 250ms 0ms, width 250ms 250ms;
  -o-transition: background-color 250ms 0ms, width 250ms 250ms;
  transition: background-color 250ms 0ms, width 250ms 250ms;
}

ul.menu-container > li a.animation-6 {
  /* menu animation 6 */
  padding: 20px 0;
}

ul.menu-container > li a.animation-6::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F57C00;
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  -o-transition: transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

ul.menu-container > li a.animation-6:hover::before {
  content: '';
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

button.menu-toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: visible;
  width: 21px;
  height: 21px;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  background-color: transparent;
}

button.menu-toggle.animation-1.toggled > span.bars {
  background-color: transparent;
}

button.menu-toggle.animation-1.toggled > span.bars::before {
  content: '';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button.menu-toggle.animation-1.toggled > span.bars::after {
  content: '';
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

button.menu-toggle.animation-1.toggled > span.bars::before, button.menu-toggle.animation-1.toggled > span.bars::after {
  top: 50%;
  margin-top: -2px;
}

button.menu-toggle.animation-2.toggled > span.bars {
  background-color: transparent;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

button.menu-toggle.animation-2.toggled > span.bars::before {
  content: '';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button.menu-toggle.animation-2.toggled > span.bars::after {
  content: '';
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

button.menu-toggle.animation-2.toggled > span.bars::before, button.menu-toggle.animation-2.toggled > span.bars::after {
  top: 50%;
  margin-top: -2px;
}

button.menu-toggle.animation-3.toggled > span.bars {
  background-color: transparent !important;
}

@-webkit-keyframes fadeInOutMenuIconBefore {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  75% {
    opacity: 1;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    opacity: 1;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes fadeInOutMenuIconBefore {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  75% {
    opacity: 1;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    opacity: 1;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes fadeInOutMenuIconAfter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    opacity: 1;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes fadeInOutMenuIconAfter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    opacity: 1;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

button.menu-toggle.animation-3.toggled > span.bars::before {
  content: '';
  -webkit-animation: fadeInOutMenuIconBefore 250ms;
  animation: fadeInOutMenuIconBefore 250ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

button.menu-toggle.animation-3.toggled > span.bars::after {
  content: '';
  top: 50%;
  opacity: 0;
  -webkit-animation: fadeInOutMenuIconAfter 250ms;
  animation: fadeInOutMenuIconAfter 250ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

button.menu-toggle > span.bars {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #212121;
}

button.menu-toggle > span.bars, button.menu-toggle > span.bars::before, button.menu-toggle > span.bars::after {
  content: '';
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

button.menu-toggle > span.bars::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #212121;
}

button.menu-toggle > span.bars::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #212121;
}

.message-box {
  pointer-events: auto;
  cursor: pointer;
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(33, 33, 33, 0.9);
  -webkit-transition: display 0ms, opacity 500ms;
  -o-transition: display 0ms, opacity 500ms;
  transition: display 0ms, opacity 500ms;
  z-index: 2000;
}

.message-box > .inner-container {
  cursor: default;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  min-width: 500px;
  max-width: 40vw;
  width: 100%;
  padding: 20px 40px;
  margin-left: auto;
  margin-right: auto;
  color: #212121;
  background-color: #FAFAFA;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 40px #424242;
  box-shadow: 0 0 40px #424242;
}

.message-box > .inner-container h1, .message-box > .inner-container h2, .message-box > .inner-container h3, .message-box > .inner-container h4, .message-box > .inner-container h5, .message-box > .inner-container h6 {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #EEEEEE;
}

.message-box > .inner-container > a.close {
  position: absolute;
  padding: 15px;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: #212121;
}

.message-box.danger > .inner-container {
  color: #FFF;
  background-color: #EC644B;
}

.message-box.danger > .inner-container h1, .message-box.danger > .inner-container h2, .message-box.danger > .inner-container h3, .message-box.danger > .inner-container h4, .message-box.danger > .inner-container h5, .message-box.danger > .inner-container h6 {
  color: #FFF;
}

.message-box.warning > .inner-container {
  color: #FFF;
  background-color: #F5D76E;
}

.message-box.warning > .inner-container h1, .message-box.warning > .inner-container h2, .message-box.warning > .inner-container h3, .message-box.warning > .inner-container h4, .message-box.warning > .inner-container h5, .message-box.warning > .inner-container h6 {
  color: #FFF;
}

.message-box.success > .inner-container {
  color: #FFF;
  background-color: #87D37C;
}

.message-box.success > .inner-container h1, .message-box.success > .inner-container h2, .message-box.success > .inner-container h3, .message-box.success > .inner-container h4, .message-box.success > .inner-container h5, .message-box.success > .inner-container h6 {
  color: #FFF;
}

.message-box.style-1 > .inner-container {
  color: #FAFAFA;
  background-color: #212121;
}

.message-box.style-1 h1, .message-box.style-1 h2, .message-box.style-1 h3, .message-box.style-1 h4, .message-box.style-1 h5, .message-box.style-1 h6 {
  border-bottom-color: #424242;
}

.message-box > a.close {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  font-weight: 900;
  text-align: right;
  border: 0;
  outline: 0;
  text-decoration: none;
  color: #FAFAFA;
  background-color: transparent;
}

.message-box:target {
  display: block;
  opacity: 1;
}
