//  TABLE OF CONTENT
//
// 1) BUTTON ANIMTIONS
// 2) MENU ANIMATIONS
//
//

//
// 1) BUTTON ANIMATIONS
//

// btn animation 1

$transitionDuration: 250ms !default;

@mixin beforeAndAfterDefault {
  content: '';
  position: absolute;
}

@mixin btn-a-1 {
  &::after {
    @include beforeAndAfterDefault;
    
    width: 100%;
    height: 100%;
    
    right: -101%;
    
    background-color: rgba(#FAFAFA, 0.2);
    
    transform: rotate(-45deg);
    transition: right $transitionDuration;
  }
  &:hover::after {
    content: '';
    right: -40%;
  }
}

// btn animation 2
@mixin btn-a-2 {
  &::after {
    @include beforeAndAfterDefault;
    
    width: 100%;
    height: 100%;
    
    top: -100%;
    left: 0;
    
    background-color: rgba(#FAFAFA, 0.2);
    transition: top $transitionDuration;
  }
  &:hover::after {
    content: '';
    top: -50%;
  }
}

// btn animation 3
@mixin btn-a-3 {
  &::after {
    @include beforeAndAfterDefault;
    
    width: 100%;
    height: 100%;
    
    bottom: -100%;
    left: 0;
    
    background-color: rgba(#FAFAFA, 0.2);
    transition: bottom $transitionDuration;
  }
  &:hover::after {
    content: '';
    bottom: -50%;
  }
}

// btn animation 4
@mixin btn-a-4($bgc: #{$mainBlack}, $bgc-hover: #{$mainOrange}) {
  
  &:hover { background-color: $bgc; transition: all $transitionDuration; }
  z-index: 1;
  
  &::after {
    @include beforeAndAfterDefault;
    
    width: 1%;
    height: 1%;
    
    top: 50%;
    left: 50%;
    
    background-color: transparent;
    transform: translate(-50%, -50%);
    transition: width $transitionDuration, height $transitionDuration, background-color $transitionDuration;
    
    z-index: -1;
  }
  &:hover::after {
    content: '';
    
    width: 100%;
    height: 101%;
    
    background-color: $bgc-hover;
  }
}

// btn animation 5
@mixin btn-a-5($bgc: #{$mainOrange}, $bgc-hover: #{$mainOrange}) {
  
  &:hover { background-color: $bgc-hover; transition: all $transitionDuration; }
  z-index: 1;
  
  &::before, &::after {
    @include beforeAndAfterDefault;
    
    width: 50%;
    height: 100%;
    top: 0;
    background-color: $bgc-hover;
    
    transition: all 500ms;
    
    z-index: -1;
  }
  
  &::before {
    left: -100%;
  }
  
  &::after {
    right: -100%;
  }
  
  &:hover::before, &:hover::after {
    transition: all $transitionDuration;
  }
  
  &:hover::before {
    left: 0;
  }
  
  &:hover::after {
    right: 0;
  }
}

// btn animation 6
@mixin btn-a-6($bgc: #{$mainOrange}, $bgc-hover: #{$mainBlack}) {
  &:hover { background-color: $bgc-hover; transition: all $transitionDuration; }
  z-index: 1;
  
  &::after {
    @include beforeAndAfterDefault;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: $bgc;
    
    transition: all $transitionDuration;
    
    z-index: -1;
  }
  &:hover::after {
    content: '';
    left: 0;
  }
}

// btn animation 7
@mixin btn-a-7($bgc: #{$mainOrange}, $bgc-hover: #{$mainBlack}) {
  &:hover { background-color: $bgc-hover; transition: all $transitionDuration; }
  z-index: 1;
  
  &::before, &::after {
    @include beforeAndAfterDefault;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: $bgc;
    
    transition: all $transitionDuration;
    transition-delay: $transitionDuration;
    
    z-index: -2;
  }
  &::before {
    background-color: rgba(255, 255, 255, 0.2);
    
    transition-delay: 0ms;
    
    z-index: -1;
  }
  &:hover::before, &:hover::after {
    content: '';
    left: 0;
  }
  &:hover::before {
    transition-delay: $transitionDuration;
  }
  &:hover::after {
    transition-delay: 0ms;
  }
}

// btn animation 8
@mixin btn-a-8($bgc: #{$mainOrange}, $bgc-hover: #{$mainBlack}) {
  &:hover { background-color: $bgc-hover; transition: all $transitionDuration; }
  z-index: 1;
  
  &::before, &::after {
    @include beforeAndAfterDefault;
    
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background-color: $bgc;
    
    transition: all $transitionDuration;
    transition-delay: $transitionDuration;
    
    z-index: -2;
  }
  &::before {
    background-color: rgba(255, 255, 255, 0.2);
    
    transition-delay: 0ms;
    
    z-index: -1;
  }
  &:hover::before, &:hover::after {
    content: '';
    bottom: 0;
  }
  &:hover::before {
    transition-delay: $transitionDuration;
  }
  &:hover::after {
    transition-delay: 0ms;
  }
}

// btn animation 8
@mixin btn-a-9($bgc: #{$mainOrange}, $color: #{$mainBlack}, $color-hover: #{$mainWhite}, $bw: 1px, $td: $transitionDuration) {
  & { border-width: $bw; border-color: $bgc; color: $color; background-color: transparent; z-index: 1; }
  &:hover { color: $color-hover;transition: all $transitionDuration; }
  
  &::before {
    @include beforeAndAfterDefault;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $bgc;
    
    transform: translate3d(0, 105%, 0);
    transition: all $td, color ($td / 2);
    
    z-index: -2;
  }
  &::before {
    background-color: $bgc;
    z-index: -1;
  }
  &:hover::before {
    content: '';
    transform: translateZ(0);
  }
  
  &, &:hover, &::before {
    transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  }
}

//
// 2) MENU ANIMATIONS
//

// menu animaiton 1
@mixin menu-a-1 {
  &::before {
    @include beforeAndAfterDefault;
    
    left: 0;
    bottom: 0;
    
    width: 1%;
    height: 2px;
    
    background-color: transparent;
    
    transition: background-color $transitionDuration $transitionDuration, width $transitionDuration 0ms;
  }
  &:hover::before {
    width: 100%;
    background-color: #{$mainOrange};
    
    transition: background-color $transitionDuration 0ms, width $transitionDuration $transitionDuration;
  }
}

@mixin menu-a-2 {
  &::before, &::after {
    @include beforeAndAfterDefault;
    
    left: 0;
    bottom: 0;
    
    width: 1%;
    height: 2px;
    
    background-color: transparent;
    
    transition: background-color $transitionDuration $transitionDuration, width $transitionDuration 0ms;
  }
  &::after { left: initial; right: 0; bottom: initial; top: 0; }
  &:hover::before, &:hover::after {
    width: 100%;
    background-color: #{$mainOrange};
    
    transition: background-color $transitionDuration 0ms, width $transitionDuration $transitionDuration;
  }
}

@mixin menu-a-3($fill: #{$mainOrange}) {
  &::before, &::after {
    @include beforeAndAfterDefault;
    
    width: 0%;
    height: 2px;
    
    background-color: transparent;
  }
  &::before {
    content: '';
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    bottom: 0;
    left: 0;
    transition: height $transitionDuration, width $transitionDuration 350ms, border-right-color $transitionDuration 500ms, border-bottom-color $transitionDuration 750ms;
    transition-direction: reverse;
    z-index: 0;
  }
  &::after {
    content: '';
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    top: 0;
    right: 0;
    transition: height $transitionDuration, width $transitionDuration 350ms, border-top-color $transitionDuration 500ms, border-left-color $transitionDuration 750ms;
    transition-direction: reverse;
    z-index: 2;
  }
  &:hover::before {
    content: '';
    
    width: 100%;
    height: 100%;
    transition: width $transitionDuration $transitionDuration, height $transitionDuration 501ms, border-bottom-color $transitionDuration, border-right-color $transitionDuration;
    transition-direction: normal;
    
    border: {
      bottom-color: $fill;
      right-color: $fill;
    }
  }
  &:hover::after {
    content: '';
    
    width: 100%;
    height: 100%;
    transition: width $transitionDuration $transitionDuration, height $transitionDuration 501ms, border-left-color $transitionDuration, border-top-color $transitionDuration;
    transition-direction: normal;
    
    border: {
      top-color: $fill;
      left-color: $fill;
    }
  }
}

@mixin menu-a-4($fill: #{$mainOrange}, $delay: 250) {
  &::before, &::after {
    @include beforeAndAfterDefault;
    
    width: 0%;
    height: 2px;
    
    background-color: transparent;
  }
  &::before {
    content: '';
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    bottom: 0;
    left: 0;
    transition: height $transitionDuration ($delay * 3) + ms, width $transitionDuration ($delay * 4) + ms, border-right-color $transitionDuration ($delay * 5) + ms, border-bottom-color $transitionDuration ($delay * 6) + ms;
    transition-direction: reverse;
    z-index: 0;
  }
  &::after {
    content: '';
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    top: 0;
    right: 0;
    transition: height $transitionDuration, width $transitionDuration ($delay + ($delay * 0.4)) + ms, border-top-color $transitionDuration ($delay * 2) + ms, border-left-color $transitionDuration ($delay * 3) + ms;
    transition-direction: reverse;
    z-index: 2;
  }
  &:hover::before {
    content: '';
    
    width: 100%;
    height: 100%;
    transition: width $transitionDuration $transitionDuration, height $transitionDuration ($delay * 2) + ms, border-bottom-color $transitionDuration, border-right-color $transitionDuration;
    transition-direction: normal;
    
    border: {
      bottom-color: $fill;
      right-color: $fill;
    }
  }
  &:hover::after {
    content: '';
    
    width: 100%;
    height: 100%;
    transition: width $transitionDuration ($delay * 3) + ms, height $transitionDuration ($delay * 4) + ms, border-left-color $transitionDuration ($delay * 3) + ms, border-top-color $transitionDuration ($delay * 3) + ms;
    transition-direction: normal;
    
    border: {
      top-color: $fill;
      left-color: $fill;
    }
  }
}

@mixin menu-a-5($bgc: #{$mainOrange}) {
  
  z-index: 0;
  
  &:hover {
    color: #FAFAFA;
  }
  
  &::before {
    @include beforeAndAfterDefault;
    
    top: 0;
    left: 0;
    
    width: 0;
    height: 100%;
    
    background-color: transparent;
    transition: background-color $transitionDuration $transitionDuration, width 250ms 0ms;
    z-index: -1;
  }
  
  &:hover::before {
    content: '';
    position: absolute;
    
    width: 100%;
    background-color: $bgc;
    
    transition: background-color $transitionDuration 0ms, width $transitionDuration 250ms;
  }
}

@mixin menu-a-6($bgc: #{$mainOrange}) {
  &::before {
    @include beforeAndAfterDefault;
    
    bottom: 0;
    left: -100%;
    
    width: 40%;
    height: 2px;
    
    background-color: $bgc;
    
    transition: left 500ms;
    transform: translateX(-50%);
  }
  
  &:hover::before {
    content: '';
    left: 50%;
  }
}