

/* 1) lnkBtn, normBtn */
button.normBtn,
a.lnkBtn {
  @include btnDefault;
  
  .size-1 {
    min-width: 100px;
    max-width: 100px;
    width: 100%;
  }
  
  .size-2 {
    min-width: 200px;
    max-width: 200px;
    width: 100%;
  }
  
  .size-3 {
    min-width: 300px;
    max-width: 300px;
    width: 100%;
  }
}

button.normBtn,
a.lnkBtn {
  
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  
  display: block;
  float: left;
  
  color: #{$mainWhite};
  background-color: #{$mainBlack};
  
  text-align: center;
  
  cursor: pointer;
  
  &:hover {
    background-color: #{$mainOrange};
  }
  
  &.animation-1 {
    /* lnkBtn, normBtn animation 1 */
    @include btn-a-1;
  }
  
  &.animation-2 {
    /* lnkBtn, normBtn animation 2 */
    @include btn-a-2;
  }
  
  &.animation-3 {
    /* lnkBtn, normBtn animation 3 */
    @include btn-a-3;
  }
  
  &.animation-4 {
    /* lnkBtn, normBtn animation 4 */
    @include btn-a-4;
  }
  
  &.animation-5 {
    /* lnkBtn, normBtn animation 5 */
    @include btn-a-5;
  }
  
  &.animation-6 {
    /* lnkBtn, normBtn animation 6 */
    @include btn-a-6;
  }
  
  &.animation-7 {
    /* lnkBtn, normBtn animation 7 */
    @include btn-a-7;
  }
  
  &.animation-8 {
    /* lnkBtn, normBtn animation 8 */
    @include btn-a-8;
  }
  
  &.animation-9 {
    /* lnkBtn, normBtn animation 9 */
    @include btn-a-9($td: 350ms, $bgc: #212121);
  }
  
  &.animation-10 {
    @include btn-a-10;
  }
}