//
// 1) GENERAL CLASSES
div.wrapper,
main.wrapper {
  display: flex;
  
  flex: {
    flow: column nowrap;
  }
  
  overflow: visible;
  
  max-width: 100%;
  width: 100%;
  height: auto;
}

div.inner-wrapper,
main.inner-wrapper {
  display: flex;
  flex: {
    flow: column nowrap;
  }
  
  max-width: 1280px;
  width: 100%;
  
  padding: {
    left: 10px;
    right: 10px;
  }
  
  margin: {
    left: auto;
    right: auto;
  }
}

.small-caps {
  font-variant: small-caps;
}

.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
  }
}

//
// 2) COLOR CLASSES
.white {
  &-color {
    color: #{$mainWhite};
  }
  &-bg {
    background-color: #{$mainWhite};
  }
}

.black {
  &-color {
    color: #{$mainBlack};
  }
  &-bg {
    background-color: #{$mainBlack};
  }
}

.orange {
  &-color {
    color: #{$mainOrange};
  }
  &-bg {
    background-color: #{$mainOrange};
  }
}

#{$textElements} {
  &.danger, &.red {
    color: #{$dangerRed};
  }
  
  &.warning, &.yellow {
    color: #{$warningYellow};
  }
  
  &.success, &.green {
    color: #{$successGreen};
  }
}