@mixin paddingDefault {
  padding: 20px 40px;
}

@mixin marginDefault {
  margin: 10px;
}

@mixin clearfix {
  &::after {
    content: "";
    display: contents;
    clear: both;
    height: 0;
    line-height: 0;
  }
}