mixin blockTitle(subTitle)
  h2(style="text-align: center;")= subTitle

doctype html
html
  - var title = "Home";
  include head

  include body
    block main
      div.wrapper
        div.inner-wrapper
          h1(style="text-align: center;")= title
          section.lnkBtn-container#lnkBtn-section
            +blockTitle("Buttons")
            a.lnkBtn.small-caps.animation-1(href="#cpb") .btn-lnk (1)
            a.lnkBtn.small-caps.animation-2(href="#cpb") .btn-lnk (2)
            a.lnkBtn.small-caps.animation-3(href="#cpb") .btn-lnk (3)
            a.lnkBtn.small-caps.animation-4(href="#cpb") .btn-lnk (4)
            a.lnkBtn.small-caps.animation-5(href="#cpb") .btn-lnk (5)
            a.lnkBtn.small-caps.animation-6(href="#cpb") .btn-lnk (6)
            a.lnkBtn.small-caps.animation-7(href="#cpb") .btn-lnk (7)
            a.lnkBtn.small-caps.animation-8(href="#cpb") .btn-lnk (8)
            a.lnkBtn.small-caps.animation-9(href="#cpb") .btn-lnk (9)
            a.lnkBtn.small-caps.animation-10(href="#cpb") .btn-lnk (10)
            
          section.menu
            +blockTitle("Menu")
            ul.menu-container.clearfix
              li
                a.small-caps.animation-1(href="#") Item-1
              li
                a.small-caps.animation-2(href="#") Item-2
              li
                a.small-caps.animation-3(href="#") Item-3
              li
                a.small-caps.animation-4(href="#") Item-4
              li
                a.small-caps.animation-5(href="#") Item-5
              li
                a.small-caps.animation-6(href="#") Item-6
                
            hr.clearfix
            
            div.hamburger-buttons-container
              button.menu-toggle.animation-1(onclick=";this.classList.toggle('toggled');")
                span.bars
              button.menu-toggle.animation-2(onclick=";this.classList.toggle('toggled');")
                span.bars
              button.menu-toggle.animation-3(onclick=";this.classList.toggle('toggled');")
                span.bars
                
          section.messageBoxes
            +blockTitle("Message Boxes")
            a(href="#box-1") Box-1
            a.danger(href="#box-1" onclick="$('.message-box').addClass('danger');") Box-1.danger
            a.warning(href="#box-1" onclick="$('.message-box').addClass('warning');") Box-1.warning
            a.success(href="#box-1" onclick="$('.message-box').addClass('success');") Box-1.success
                

        .cpb-container#cpb
          a.close-cpb(href="#") X
          .cpb-inner
          
        .message-box#box-1(data-action="close" href="#close")
          a(href="#" onclick="$('.message-box').removeClass('danger warning success');").close X
          .inner-container
            a(href="#" onclick="$('.message-box').removeClass('danger warning success');").close X
            h1 Message Box Title
            p Test...

        include foot